<?xml version="1.0"?>
<config>
    <modules>
        <Magazento_LookBook>
            <version>0.1.1</version>
        </Magazento_LookBook>
    </modules>
    <frontend>
        <routers>
            <lookbook>
                <use>standard</use>
                <args>
                    <module>Magazento_LookBook</module>
                    <frontName>lookbook</frontName>
                </args>
            </lookbook>
        </routers>
        <layout>
            <updates>
                <lookbook>
                    <file>magazento_lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <lookbook>
                <use>admin</use>
                <args>
                    <module>Magazento_LookBook</module>
                    <frontName>lookbook</frontName>
                </args>
            </lookbook>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <lookbook module="lookbook">
                <title>LookBook</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="lookbook">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>lookbook/adminhtml_lookbook</action>
                    </items>
                </children>
            </lookbook>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magazento_LookBook>
                            <title>LookBook Module</title>
                            <sort_order>10</sort_order>
                        </Magazento_LookBook>
					
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lookbook translate="title" module="lookbook">
                                            <title>Look Book</title>
                                        </lookbook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <lookbook>
                    <file>magazento_lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/lookbook/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <lookbook>
                <class>Magazento_LookBook_Model</class>
                <resourceModel>lookbook_mysql4</resourceModel>
            </lookbook>
            <lookbook_mysql4>
                <class>Magazento_LookBook_Model_Mysql4</class>
                <entities>
                    <lookbook>
                        <table>magazento_lookbook</table>
                    </lookbook>
                    <lookbook_products>
                        <table>magazento_lookbook_products</table>
                    </lookbook_products>
                     <lookbook_images>
                        <table>magazento_lookbook_images</table>
                    </lookbook_images>
                    <lookbook_stores>
                        <table>magazento_lookbook_stores</table>
                    </lookbook_stores>
                </entities>
            </lookbook_mysql4>
        </models>
        <resources>
            <lookbook_setup>
                <setup>
                    <module>Magazento_LookBook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lookbook_setup>
            <lookbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lookbook_write>
            <lookbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lookbook_read>
        </resources>
        <blocks>
            <lookbook>
                <class>Magazento_LookBook_Block</class>
            </lookbook>
        </blocks>
        <helpers>
            <lookbook>
                <class>Magazento_LookBook_Helper</class>
            </lookbook>
        </helpers>
    </global>
    <default>
        <lookbook>
            <front>
                <rowcnt>3</rowcnt>
                <jquery>1</jquery>                
            </front>
        </lookbook>
    </default>    
</config>